pre  {
    border-radius: 6px;
    background-color: rgb(56, 13, 56);
    margin: 1rem 0;
    padding: 0.5rem;
    color: azure;
}

p {
    padding: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6{
    color: #3294F8;
}